body {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
    margin: 0;
}

.flexrow{
    display: flex;
    flex-direction: row;
}

.flexwrap{
    flex-wrap: wrap;
}
.flexcol{
    display: flex;
    flex-direction: column;
}

.fullheight{
    height: 100%;
}

.myimage{
    width: 20vmin;
    height: 20vmin;
}

.mainpage{
    background-color:hsl(275, 0%, 15%);
    color: rgb(68, 65, 65);
    height: 100vh;
    width: 100vw;
}

.headersection{
    background-color:hsl(275, 0%, 20%);
    height: 20vh;
}

.bodysection{
    height: 80vh;
}

.name{
    font-size: 10vmin;
    text-align: center;
    color: rgb(145, 193, 255);
}

.socialimage{
    margin: 1vmin;
    width: 7vmin;
    height: 7vmin;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3vmin;
}

.centerimage{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tab {
  overflow: hidden;
  background-color:hsl(275, 0%, 20%);
  width: 20vmin;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4vmin 1vmin;
  transition: 0.3s;
  font-size: 2.6vmin;
  color: rgb(180, 180, 180);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color:rgb(90, 90, 90);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color:rgb(90, 90, 90);
}

.tabcontent {
  display: none;
  padding: 2vmin 4vmin;
  border-top: none;
  width: 75vw;
  font-size: 2.6vmin;
  color: rgb(180, 180, 180);
  line-height: 4.5vmin;
}

.panel{
    background-color: rgb(73, 72, 72);
    color: rgb(180, 180, 180);
    padding: 1vmin 0 1vmin 1vmin;
    font-size: 2vmin;
}

.myfullimage{
  background-image: url("../assets/images/keyboard.jpg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100%;
}

.subpanel{
  background-color: rgb(53, 53, 53);
  color: rgb(180, 180, 180);
  padding: 1vmin 0 1vmin 1vmin;
  font-size: 2vmin;
  }

.aboutpanel{
  background-color: rgb(53, 53, 53);
  color: rgb(180, 180, 180);
  padding: 1vmin 0 1vmin 1vmin;
  font-size: 2vmin;
  height: 100%;
}

.boldtext{
    font-weight: bold;
    font-size: 2.7vmin;

}

.chip {
  display: inline-block;
  padding: 0 1vmin;
  height: 3vmin;
  font-size: 2.2vmin;
  line-height: 3vmin;
  border-radius: 1.5vmin;
  background-color: rgb(72, 73, 72);
  margin: 1vmin;
  color: rgb(201, 201, 201);
}

.chipacc {
  display: inline-block;
  padding: 1vmin 1vmin;
  height: 3vmin;
  font-size: 2.7vmin;
  line-height: 3vmin;
  border-radius: 1.5vmin;
  background-color: rgb(53, 53, 53);
  margin: 2vmin;
  color: rgb(201, 201, 201);
}

.chipaccexp {
  display: inline-block;
  padding: 1vmin 1vmin;
  height: 3vmin;
  font-size: 2.7vmin;
  line-height: 3vmin;
  border-radius: 1.5vmin;
  background-color: rgb(72, 73, 72);
  margin: 2vmin;
  color: rgb(201, 201, 201);
}

.chipexp {
  display: inline-block;
  padding: 0.5vmin 1vmin;
  height: 3vmin;
  font-size: 2.2vmin;
  line-height: 3vmin;
  border-radius: 1.5vmin;
  background-color: rgb(53, 53, 53);
  margin: 1vmin;
  color: rgb(216, 216, 216);
}

.pointer{
  cursor: pointer;
}

.chipproj {
  display: inline-block;
  padding: 0 1vmin;
  border-radius: 1.5vmin;
  background-color: rgb(72, 73, 72);
  color: rgb(216, 216, 216);
  margin: 0 1vmin;
}

.button{
  background-color: rgb(85, 145, 105);
  width: 17vmin;
  border: none;
  outline: none;
  padding: 0vmin 1vmin;
  font-size: 2.6vmin;
  margin: 2vmin;
  text-align: center;
}

.accordion {
  background-color: rgb(73, 72, 72);
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 2.6vmin;
  transition: 0.4s;
  color: rgb(180, 180, 180);
}

.accordion:active, .accordion:hover {
  background-color:rgb(90, 90, 90);
}

.lightbackcolor{
  background-color:rgb(90, 90, 90);
}

.accordion:after {
  color: rgb(201, 201, 201);
  font-weight: bold;
  float: right;
}

.teslaiconstyle{
  width: 7vmin;
  height: 7vmin;
  align-content: left;
  padding: 1vmin 1vmin;
  float: left;
}

.gmailiconstyle{
  width: 5vmin;
  height: 5vmin;
  align-content: left;
  float: left;
}

.phoneiconstyle{
  width: 5vmin;
  height: 5vmin;
  align-content: left;
  float: left;
}

.riticonstyle{
  width: 7vmin;
  height: 5vmin;
  align-content: left;
  padding: 2vmin 1vmin;
}

.ceticonstyle{
  width: 7vmin;
  height: 7vmin;
  align-content: left;
  padding: 1vmin 1vmin;
}

.ctsiconstyle{
  width: 6vmin;
  height: 6vmin;
  align-content: left;
  padding: 1.5vmin 1vmin;
}

.expacc{
    line-height: 7vmin;
}

.centertext{
  margin-left: auto;
  margin-right: auto;
}

.righttext{
  text-align: right;
}

.upiconstyle{
  width: 3vmin;
  height: 3vmin;
  padding: 2vmin 1vmin;
}

.downiconstyle{
  width: 3vmin;
  height: 3vmin;
  padding: 2vmin 1vmin;
  display: none;
}

.technologies{
  padding: 1vmin;
  margin: 1vmin;
  background-color: rgb(73, 72, 72);
  color: rgb(216, 216, 216);
}

.subexp{
  justify-content: space-between;
  background-color: rgb(73, 72, 72);
  padding: 1vmin;
  margin: 1vmin;
}

.social{
  justify-content: space-between;
}

.padng{
  padding: 1vmin;
}

.email{
  color: rgb(145, 193, 255);
}